


.sidemenutable {width:140px; margin-top:97px; margin-left:53px;}
.sidemenutable .linkcell {text-align:right; padding-bottom:17px;}
.sidemenutable .linkcell p {font-size:15px;}
.sidemenutable .countcell {width:40px; padding-left:5px; text-align:left;}
